* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}


header {
    display:block;
    width:100%;
    height: 100px;
    background-color:rgb(204, 130, 130);
    color: white;
}

header div {
    /* display:flex; */
    /* display: inline-block; */
    padding: 10px;
    border: 20px;
}

.wrappers{
    margin: 100px auto 0 auto;
    max-width: 600px;
  }

body {
    background-color:rgb(255, 234, 234);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.start {
      text-align: center;
  }
.start h1{
    font-size: 50px
}

.start p {
    margin-right: 400px;
    margin-left: 400px;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif}

#start-quiz {
    font-size: 30px;
    background-color:rgb(138, 63, 63);
    color:white;

}

.scores {
    float:left;
}

.scores a {
    color:white;

}

.timer-count  {
    float: right;
}

h1 {
    font-size: 30px;
    padding:20px;
}

div p {
    padding: 20px;
}

.hide {
    /* display: none; */
visibility: hidden;
}
.show{
    /* display:block; */
visibility:visible;
text-align:center;
}

#questions {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* margin:50px; */
    text-align: center;
    font-size: 40px;
}

.btn {
    font-size: 30px;
    background-color: rgb(138, 63, 63);
    color: white;

}

#finished-page {
    margin: -350px 0px;
    text-align:center;
    font-size: 30px;
}

#highScores {
    /* display:flex; */
    font-size: 30px;
    color: white;
    background-color: rgb(138, 63, 63) ;
    border:rgb(71, 29, 29) solid 5px;
    text-align: center;
    margin:100px;
    /* margin: -200 0; */
    /* padding-left: 800px; */
}

#go-back{
    margin: 20px;
    display: bottom;
   background-color: rgb(138, 63, 63);
   color:white;
}